
# Project
*secret*

# Random crap
*.sqlite3
*.log
*.retry
*.pid
*.db

# editors
.vscode/

# frontend
dist/
node_modules/

# tests
test_media/
.pytest_cache

# database backups
dumps/

# Storybook build assets
story/

# Checksum
.checksum