// Whites
$white: #ffffff;
$grey-light: #f2f2f2;
$grey: #ccc;
$dark-grey: #777;
$dark: #212529;
$black: #111111;

$purple: #bc5fcb;
$orange: #faa634;
$orange-light: #fffaf0;
$grey: #f2f2f2;

// Brand colors
$text: $dark;
$primary: $orange;
$primary-light: $orange-light;
$secondary: $purple;
