@import '~antd/dist/antd.css';
@import './colors';
@import './fonts';


html, body {
  height: 100%;
  font-family: Montserrat, sans-serif;
  background-color: $grey-light;
}

h1 {
  font-weight: 600;
}

h2, h3, h4, h5 {
  font-weight: 500;
}

#app {
  height: 100%;
}
